@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media screen and (max-width: 1300px) {
  .settings {
    font-size: small;
  }
}

@media screen and (min-width: 1100px) {
  .fruitFuilter-expander {
    pointer-events: none;
  }
}
@media screen and (max-width: 1100px) {

  .ffopen{
    
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
  }
  .ffHidden {
    display: none !important;
  }
  .fruitDetails {
    width: 70% !important;
    font-size: small;
  }
  .settings {
    width: 30% !important;
  }
}

@media screen and (max-width: 950px) {
  .home_content_container {
    display: flex;
    flex-direction: column-reverse;
  }
  .socialIcons {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 770px) {
  .sideHeaderContainer {
    flex-direction: column-reverse;
    position: absolute;
  }
  .fruitDetails {
    width: 100% !important;
    font-size: small;
  }
  .settings {
    width: 80% !important;
    margin: 0 auto;
  }
  .side-header {
    width: 100%;
  }
  .fruitDetails img {
    width: 80%;
    margin: 0 auto;
  }
  .home_content {
    flex-direction: column-reverse !important;
  }
}
@media screen and (max-width: 600px) {
  .fruitDetails img {
    width: 100%;
  }
}

/* .fruitFuilter {
  display: block;
  position: absolute;
  top: 60;
  z-index: 1;
  width: 50%;
} */
